.card {
  box-shadow: 0 3px 6px 0 rgba(78, 78, 78, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.bar {
  width: 100%;
  overflow: hidden;
}

.center .bar {
  display: inline-block;
  width: auto;
}
.bar .bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

.grey,
.hover-grey:hover,
.gray,
.hover-gray:hover {
  color: #000 !important;
  background-color: #9e9e9e !important;
}
.top {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
